[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bumpversion = "*"
coverage = "*"
wheel = "*"
sphinx = "*"
twine = "*"
tox = "*"
flake8 = "*"
pylint = "*"
pytest = "*"
isort = "*"
yapf = "*"
task= "*"
pathlib2 = "*"
nuitka = "*"
jinja2="*"
jupyter = "*"
cx_Freeze = "*"

[packages]
wheel = "*"
numpy = "==1.20.2"
scipy = "==1.6.2"
pandas = "*"
matplotlib = "==3.4.1"
six = "*"
pysimplegui = "*"
nuitka = "==0.6.13.3"
pillow = "==8.2.0"
decorator = "==5.0.5"
jupyter-console = "==6.4.0"
idna = "==3.1"
pyflakes = "==2.3.1"
importlib-metadata = "==3.10.0"
terminado = "==0.9.4"
keyring = "==23.0.1"
astroid = "==2.5.2"
parso = "==0.8.2"
lazy-object-proxy = "==1.6.0"
pylint = "==2.7.4"
prometheus-client = "==0.10.0"
docutils = "==0.17"
pytest = "==6.2.3"
cryptography = "==3.4.7"
rich = "==10.1.0"
sqlalchemy = "==1.4.5"
setuptools = "==54.2.0"

[requires]
python_version = "3.6"
