[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bumpversion = "*"
coverage = "*"
wheel = "*"
sphinx = "*"
twine = "*"
tox = "*"
flake8 = "*"
pylint = "*"
pytest = "*"
isort = "*"
yapf = "*"
task= "*"
pathlib2 = "*"
nuitka = "*"
jinja2="*"
jupyter = "*"
cx_Freeze = "*"

[packages]
wheel = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
pysimplegui = "*"

[requires]
python_version = "3.6"
